alembic
aniso8601
asgiref
attrs
bcrypt
beautifulsoup4
bleach
blinker
bs4
cachelib
certifi
chardet
charset-normalizer
click
colorama
dj-database-url
Django
dnspython
email_validator
flasgger
Flask
Flask-Caching
Flask-Cors
Flask-JWT-Extended
Flask-Login
flask-restx
Flask-WTF
greenlet
gunicorn
idna
importlib_resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mistune
packaging
passlib
pip
psycopg2
psycopg2-binary
PyJWT
python-dotenv
pytz
PyYAML
redis
referencing
requests
rpds-py
six
soupsieve
SQLAlchemy
sqlparse
typing_extensions
tzdata
urllib3
webencodings
Werkzeug
WTForms
